.block-pagetracker {
    line-height:20px;
}

.block_page_tracker .content .icon {
    display:table-cell !important;
}

.block_page_tracker .content .column.c1 {
    display:table-cell !important;
    width:95%;
}

.block_page_tracker li {
    margin-bottom:6px;
}

/* fix boost theme */
.block-pagetracker.current::before {
    border:none!important;
}

.block-pagetracker.current a {
    font-weight: bolder;
}

.block-pagetracker-current {
    line-height:16px;
}

#page-region-main .pagedepth1,
#region-main .pagedepth1{
    padding-left:20px;
}

#page-region-main .pagedepth2,
#region-main .pagedepth2{
    padding-left:40px;
}

#page-region-main .pagedepth3,
#region-main .pagedepth3{
    padding-left:60px;
}

#page-region-main .pagedepth4,
#region-main .pagedepth4{
    padding-left:80px;
}

#page-region-post .pagedepth1,
#region-post .pagedepth1{
    padding-left:10px;
}

#page-region-post .pagedepth2,
#region-post .pagedepth2{
    padding-left:20px;
}

#page-region-post .pagedepth3,
#region-post .pagedepth3{
    padding-left:30px;
}

#page-region-post .pagedepth4,
#region-post .pagedepth4{
    padding-left:40px;
}

#page-region-pre .pagedepth1,
#region-pre .pagedepth1{
    padding-left:8px;
}

#page-region-pre .pagedepth2,
#region-pre .pagedepth2{
    padding-left:16px;
}

#page-region-pre .pagedepth3,
#region-pre .pagedepth3{
    padding-left:24px;
}

#page-region-pre .pagedepth4,
#region-pre .pagedepth4{
    padding-left:32px;
}

.block-pagetracker.hidden{
    -moz-opacity:0.5;
    opacity:0.5;
}