.block-pagetracker {
	line-height:20px;
}

.block-pagetracker-current {
	line-height:16px;
}

#page-region-main .pagedepth1,
#region-main .pagedepth1{
	padding-left:20px;
}

#page-region-main .pagedepth2,
#region-main .pagedepth2{
	padding-left:40px;
}

#page-region-main .pagedepth3,
#region-main .pagedepth3{
	padding-left:60px;
}

#page-region-post .pagedepth1,
#region-post .pagedepth1{
	padding-left:10px;
}

#page-region-post .pagedepth2,
#region-post .pagedepth2{
	padding-left:20px;
}

#page-region-post .pagedepth3,
#region-post .pagedepth3{
	padding-left:30px;
}

#page-region-pre .pagedepth1,
#region-pre .pagedepth1{
	padding-left:8px;
}

#page-region-pre .pagedepth2,
#region-pre .pagedepth2{
	padding-left:16px;
}

#page-region-pre .pagedepth3,
#region-pre .pagedepth3{
	padding-left:24px;
}

#page-region-pre .pagedepth4,
#region-pre .pagedepth4{
	padding-left:32px;
}

.block-pagetracker.hidden{
	opacity:0.5;
	-moz-opacity:0.5;
}